;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sat Mar 24 21:20:32 2012
;; Desktop file format version 206
;; Emacs version 24.0.94.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/home/dannluciano/.emacs.d/gnu/linux.el" "/home/dannluciano/.zshrc" "/Users/dannluciano/.emacs.d/init.el" "/Users/dannluciano/.emacs.d/dannluciano/dl-key-binddings.el" "/Users/dannluciano/.emacs.d/darwin.el" "~/.emacs.d/" "/Users/dannluciano/.emacs.d/init.el"))

;; Buffer section -- buffers listed in same order as in buffer list:
